@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap');

/* CSS Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  display: flex;
  margin: 0 auto;
}

nav,
header,
footer {
  background: #1f2937;
}

.secciones {
  display: flex;
  flex-direction: column;
}

.info-1, .info-2 {
  height: 50vh;
  width: 100%;
}

.info-3 {
  height: 30vh;
  width: 100%;
}

button {
  background: #3882f6;
  padding: 10px 25px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

/* Inicio CSS Nav */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

ul a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* Fin CSS Nav */

/* Inicio CSS Banner */

header {
  display: flex;
  justify-content: space-between;
}

.banner {
  padding: 100px 0;
}

header .text {
  padding: 0;
  margin: 0;
  color: #e5e7eb;
  width: 35vw;
}

header h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

header img {
  width: 40vw;
  height: 35vh;
}

/* Fin CSS Banner */

/* Inicio CSS Main */

.servicios {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

h2 {
  margin: 35px 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border-radius: 4px;
  width: 200px;
  margin: 16px;
}

.card img {
  width: 200px;
  height: 170px;
  /*border: 2px solid #3882f6;*/
  border-radius: 20px;
  padding: 10px;
}

.card p {
  text-align: center;
  padding: 5px 0;
}

.info-2 {
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frase {
  display: flex;
  flex-direction: column;
}

.info-2 .frase-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.frase h3 {
  font-size: 20px;
  padding: 10px;
  text-align: end;
}

.info-3 {
  display: flex;
  align-items: center;
}

.call {
  width: 80%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #3882f6;
  color: #e5e7eb;
  margin: 0 auto;
}

.call h4 {
  font-size: 22px;
  color: white;
}

.call-button {
  border: 2px solid white;
}

/* CSS Footer */

footer {
  height: 15vh;
  padding: 16px;
  color: #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: center;
}

.info-footer {
  justify-content: center;
}